body{
    margin:0;
    padding:8px;
    font-family:Arial,sans-serif;
    text-align:center;
    background:#f4f4f4;
}

h1{
    margin:5px;
    font-size:28px;
    color:#f26a21;
}

#evenement{
    font-size:18px;
    font-weight:bold;
    margin-bottom:8px;
}

#compteur{
    font-size:22px;
    font-weight:bold;
    color:#f26a21;
    margin-bottom:10px;
}

#reader{
    width:220px;
    margin:auto;
}

#resultat{
    margin-top:12px;
    background:white;
    border-radius:15px;
    padding:12px;
    font-size:20px;
    min-height:180px;
}

h2{
    margin:6px;
    font-size:32px;
}

h3{
    margin:6px;
    font-size:24px;
}

p{
    margin:4px;
    font-size:20px;
}

hr{
    margin:10px;
}

/* Suppression des éléments inutiles */

#reader__dashboard_section_swaplink,
#reader__dashboard_section_csr,
#reader__dashboard_section_fsr,
#reader__status_span{
    display:none !important;
}

/* On masque aussi le texte "Scanner paused" */

#reader__scan_region > div:nth-child(2){
    display:none !important;
}
